@import url('https://fonts.googleapis.com/css?family=Poppins');

#topbar {
  background-color: #5a41ea;
  height: 52px;
  width: 100%;
  border: 0;

}

.App {
  text-align: center;
}

table {
  table-layout:fixed;
  overflow: scroll;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face{
  font-family: 'Poppins';
  src:url('https://fonts.googleapis.com/css?family=Poppins');
  font-style: normal;
  font-weight: normal;
}
body {
  background-color: white;
 
}

h1{
  color: white;
  position: absolute;
  width: 256px;
  height: 45px;
  left: 16px;
  top: -16px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  
  display: flex;
  mix-blend-mode: normal;

}

#login {
  background-color: white;
  border-radius: 20px;
  border: 0;
  position: absolute;
  width: 74px;
  height: 40px;
  right: 4px;
  top: 6px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 37px;
  /* identical to box height */


  color: #5a41ea;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

#signupSmall {
  border-radius: 20px;
  border: 2px solid white;
  background-color: #5a41ea;

  position: absolute;
  width: 100px;
  height: 40px;
  right: 104px;
  top: 6px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  color: white;
}


p {
  position: absolute;
  /*width: 978px;   This line prevents it from centering and idk why*/
  height: 150px;
  text-align: center;
  top: 130px;
  

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 75px;
  
  color: #000000;

}

#signupBig {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 30px;
  position: absolute;
  /*width: 328px;*/
  height: px;
  text-align: center;
  display: flex;
  top: 410px;
  left:50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background: #5a41ea;
  border-radius: 60px;
  border: 0;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 82px;
/* identical to box height */


color: #FFFFFF;
}
