
body{
    background-color: white;
}

h2{
    color: #4126ea;
    margin-top: 5px;
    margin-left: 3px;
    font-size: 30px;
}

/*Gilen here*/

*{
    font-size: 1.2rem;
}

.searchBar{
    display:flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;   
    border-radius: 20px;
    color: #4126ea;
    margin-left: 500px;
}

input{
    margin: 0.3rem;
    border: none;
    border-radius: 20px;
    width: 400px;
    outline: none;
    background-color: #EEEEEE;
    
}

::placeholder{
    color: rgba(124, 124, 124, 0.459);
}