@import url("https://fonts.googleapis.com/css?family=Poppins");

/* Page scrolling settings */
table {
  table-layout: fixed;
  overflow: scroll;
}

/* Setting font */
@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css?family=Poppins");
  font-style: normal;
  font-weight: normal;
}

/* Page wide stuff */
body {
  background-color: white;
  margin-bottom: 60%;
}

/* Purple bar at the top w/ name/sign up/login */
#topbar {
  background-color: #5a41ea;
  height: 52px;
  width: 100%;
  border: 0;
}

/* Site name features */
#StudyBuddies {
  /* Color, position, textbox size */
  color: white;
  position: absolute;
  width: 256px;
  height: 45px;
  left: 16px;
  top: -16px;
  display: flex;

  /* Font and font size */
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
}

/* Login button features */
#login {
  /* color, textbox size */
  background-color: white;
  border-radius: 20px;
  border: 0;
  width: 74px;
  height: 40px;

  /* position */
  position: absolute;
  right: 4px;
  top: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;

  /* Font, Font size, color */
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 37px;
  color: #5a41ea;
}

/* Logout button features */
#logout {
  /* color, textbox size */
  background-color: white;
  border-radius: 20px;
  border: 0;
  width: 90px;
  height: 40px;

  /* position */
  position: absolute;
  right: 4px;
  top: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;

  /* Font, Font size, color */
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 37px;
  color: #5a41ea;
}

/* sign up button in top corner features */
#signupSmall {
  /* Color, position, size */
  border-radius: 20px;
  border: 2px solid white;
  background-color: #5a41ea;
  position: absolute;
  width: 100px;
  height: 40px;
  right: 104px;
  top: 6px;

  /* Font, font size, color */
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  color: white;
}

/* Slogan features */
#center {
  /* Size, position */
  position: absolute;
  /*width: 978px;   This line prevents it from centering and idk why*/
  height: 150px;
  text-align: center;
  top: 80px;

  /* Font, font size, color */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 75px;
  color: #000000;
}

/* Big sign up button in middle features */
#signupBig {
  /* Size, position */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 30px;
  position: absolute;
  height: px;
  text-align: center;
  display: flex;
  top: 380px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #5a41ea;
  border-radius: 60px;
  border: 0;

  /* Font, font size, color */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 82px;
  color: #ffffff;
}

#notice {
  position: relative;
  height: 45px;
  text-align: center;
  /* top was 540 */
  top: 510px;
  margin-top: -32px;
  margin-bottom: 600px;
  margin-right: 100px;
  margin-left: 100px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;

  color: #ffffff;
}

#disclaimer {
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  /* top was 640 */
  top: 610px;
  display: table-cell;

  margin-left: 23%;
  margin-right: 23%;
}

#noticebox {
  position: absolute;
  /*width: 900px;*/
  width: 60%;
  height: 200px;
  /* top was 560px */
  top: 530px;
  left: 20%;
  border-radius: 1rem;
  display: block;
  justify-content: center;
  align-items: center;
  

  border: 0;
  background: #d0d4fc;
  border-top-width: 50px;
  border-top-color: #5a41ea;
  border-top-style: solid;
  box-shadow: 1rem 1rem 1rem 0rem #a8abdb;
}
