@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Page scrolling settings */
table {
  table-layout:fixed;
  overflow: scroll;
  
}

body {
  background-color: white;
  margin-bottom: 60%;
}
/* Setting font */
@font-face{
  font-family: 'Poppins';
  src:url('https://fonts.googleapis.com/css?family=Poppins');
  font-style: normal;
  font-weight: normal;
}

/* Page wide stuff */
body {
  background-color: white;
}

/* Purple bar at the top w/ name/sign up/login */
#topbar {
  background-color:#5a41ea;
  height: 52px;
  width: 100%;
  border: 0;
}

/* Site name features */
#StudyBuddies {
  /* Color, position, textbox size */
  color: white;
  position: absolute;
  width: 256px;
  height: 45px;
  left: 16px;
  top: -16px;
  display: flex;

  /* Font and font size */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
}

/* Logout button features */
#logout {
    /* color, textbox size */
    background-color: white;
    border-radius: 20px;
    border: 0;
    width: 90px;
    height: 40px;
  
    /* position */
    position: absolute;
    right: 4px;
    top: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  
    /* Font, Font size, color */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
    color: #5a41ea;
  }


#divide {
    position: absolute;
    width: 0px;
    height: 90%;
    left: 250px;
    top: 52px;

    border: 1px solid #5a41ea;
    /*transform: rotate(90deg);*/
}

/* Edit button features */
#edit {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 100px;
    border: 0;
    background: #5a41ea;

    position:absolute;
    width: 250px;
    height: 44px;
    left: 0px;
    bottom: 0px;

    /* Font, Font size, color */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: white;
    text-decoration: center;

}

#topMatches {
    position: absolute;
    width: 232px;
    height: 53px;
    left: 270px;
    top: 40px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;

    color: #000000;

}

#seeAll {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 0;
    background: white;
    position: absolute;
    width: 110px;
    height: 29px;
    left: 510px;
    top: 76px;
    padding: 0px 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;
    color: #5a41ea;
}